@media (max-width: 1200px) {
    .promo {
        &__wrapper{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }   
    }
}
@media (max-width:991px) {
    .promo {
        &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        }
    }
}
@media (max-width:767px) {
    .header {
        padding: 0 10px 0 10px;
    }
    .advantages {
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items:center;
        }
        &__item {
            margin-top: 20px;
        }
    }
    .title {
        &_left {
            font-size: 25px;
            text-align: center;
        }
    }
    .consultation {
        padding: 100px 20px 92px 20px;
        &_descr {
            text-align: center;
        }
    }
    .feed-form {
        width: 100%;
    }
}
@media (max-width: 625px) {
    .header {
        &__official {
            display: none;
        }
    }
}
@media(max-width: 576px) {
    .header {
        &__official {
            display: none;
        }
    }
}